<%- include('../partials/head') %>

<p><span id="itemcount"><%-nbitems%></span> doublons restants.</p>


<h3>Status de l'index</h3>
<div style="padding-bottom: 40px;">
    <p id="indexstatus">Recherche du status de l'index...</p>
    <div id="indexstatusbar" style="margin: auto;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <div id="indexbuttondiv" style="text-align: center;">
        <button id="indexactiondeploy" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Deployer l'index</button>
        <button id="indexactionundeploy" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Annuler le deploiement de l'index</button>
        <button id="indexactioncreate" style="display: none;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Creer l'index</button>
    </div>
</div>

<div id="addnewitemcard" class="demo-card-wide mdl-card mdl-shadow--2dp add_new_card">
    <div id="camera-panel" style="margin-bottom: 40px;">
        <video id="video" style="max-width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">Video stream not available.</video>
        <div style="text-align: center; margin-top: 20px;">
            <button 
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="captureBtn"
            >Capture
            </button>
        </div>
        <div style="display: none;">
            <input type="file" id="browseImg" accept=".jpg,.jpeg,.png">
        </div>
    </div>
    
    <canvas id="canvas" class="add_new_card_canvas"></canvas>
    
    <div style="text-align: center; margin-top: 20px;">
        <button id="index_search_rem"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button"
        >
            <i class="material-icons">remove</i>
          </button>
        <button id="index_search"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            style="display: none; margin: 0px 10px;"
        > Rechercher <%-similarCount%> doublons similaires
        </button>
        <button id="index_search_add"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button"
        >
            <i class="material-icons">add</i>
          </button>
        <div id="imageSearchResult" style="padding-top: 20px; padding-bottom: 20px;">
            <div id="imageSearchBar" style="margin: auto; display: none;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</div>

</div>
</main>
</div>


<ul id="image_menu" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="display: none;">
    <li class="mdl-menu__item">Supprimer</li>
  </ul>
  
  <dialog id="deletedialog" class="mdl-dialog" style="width: 30%;">
      <h2 class="mdl-dialog__title">Supression</h2>
      <div class="mdl-dialog__content">
          <p>Etes-vous sur de vouloir supprimer cet item definitivement?</p>
          <img style="max-width: 128px; max-height: 128px; margin: auto; display: block;">
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <button type="button" class="mdl-button">Oui</button>
          <button type="button" class="mdl-button">Non</button>
      </div>
  </dialog>
  

<%- include('../partials/simple_dialog.ejs') %>
<%- include('../partials/image_menu.ejs') %>

<script src="/js/duplicateSearch.js"></script>

</body>
</html>