  <%- include('../partials/head') %>
  
  <div style="text-align: center; margin-top: 20px;"><span><%-imageText%></span></div>
  <img src="<%-imageUrl%>" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px">
  
  <div style="text-align: center;">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" value="50" pattern="-?[0-9]*(\.[0-9]+)?" id="searchCount">
      <label class="mdl-textfield__label" for="searchCount">Number...</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    
    <button id="searchbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Search</button>
  </div>

  <div style="margin-top: 30px; position: absolute;" id="images"></div>
  
</div>
</main>
</div>

  <%- include('../partials/simple_dialog.ejs') %>
  <%- include('../partials/image_menu.ejs') %>

  <script src="/js/item.js"></script>

</body>
</html>